@import '~bootstrap/scss/bootstrap';
@import 'top';
@import 'menu';

@font-face{
    font-family: "PlayfairDisplayItalic";
    src: url('fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
}

body {
    font-size: 10px;
    font-family: serif;
}

.active {
    color: #E89989!important;
}

section {
    text-align:center;
}

.div {
    max-width: 1400px;
}